:root {
  --bg-color: #f0f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  background-color: #c4c4c4;
  border-radius: 5px;
  width: 24px;
  height: 24px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

a:visited {
  color: #fff;
}

picture {
  height: inherit;
}

img {
  width: 100%;
  display: block;
}

html,
body {
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100%;
}

.header {
  padding: 1.6rem;
}

.main-title h2 {
  color: #474747;
  font-size: 3.4rem;
}

.main-title p {
  color: #979ea6;
  font-size: 1.4rem;
}

main {
  padding: 1.6rem;
  margin-bottom: 112px;
}

.card {
  border-radius: 10px;
  width: 100%;
  height: 225px;
  margin-block-end: 0.8rem;
}

.card:last-child {
  margin: 0 0 112px 0;
}

.gallery .massonry {
  height: 175px;
  display: flex;
  grid-template-columns: 1fr 1fr;
  overflow-y: scroll;
}



.gallery .massonry .column-1 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1/2;
}

.gallery .massonry .column-2 {
  width: 100%;
  grid-column: 2/3;
  margin-inline-start: 0.3rem;
}

.gallery .img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-left {
  height: 175px;
}

.image-left:first-child {
  border-start-start-radius: 10px;
}

.image-up {
  height: 50%;
}
.image-up:first-child {
  border-start-end-radius: 10px;
}

.image-down {
  margin-block-start: 0.3rem;
  height: calc(50% - 0.3rem);
}

.card-footer {
  background-color: #fff;
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  height: 50px;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem;
}

.section .img {
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section .section-first-image {
  height: 210px;
  width: 100%;
  margin-block-end: 1.8rem;
}

.section .section-second-image {
  height: 162px;
  margin-inline-end: 0.95rem;
  margin-block-end: 1.9rem;
}

.section .section-third-image {
  height: 352px;
  margin-inline-start: 0.95rem;
  margin-block-end: 1.9rem;
}

.section .section-title {
  text-transform: capitalize;
}

.section .massonry {
  display: flex;
}

.section .column {
  width: 100%;
}

.footer {
  height: 112px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.footer .rect {
  background-color: #fff;
  /* border-start-start-radius: 50px;
  border-start-end-radius: 50px; */
  border-inline: 50px;
  width: 30%;
  height: 91px;
  margin: calc(117px - 91px) 0 0 0;
}

.footer .button-container {
  position: absolute;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: calc(117px - 91px) 0 0 0;
}

.footer .orange-plus-button {
  background: linear-gradient(rgba(255, 172, 95, 1), rgba(255, 77, 60, 1));
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20px;
  z-index: 30;
}

.footer .orange-plus svg {
  position: relative;
  z-index: -1;
}
.footer .icon-container {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  margin: calc(117px - 91px) 0 0 0;
}

.modal-image {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-image .modal-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;
  position: absolute;
  z-index: 30;
}

.modal-header .back-modal svg {
  position: relative;
  z-index: -1;
}

.modal-form {
  display: none;
  width: 100%;
  height: 100px;
  position: fixed;
  left: 0;
  top: 20vh;
  padding: 1.6rem;
}

.modal-form .label, .buttons-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.buttons-container {
  display: flex;
  flex-direction: row;
}

.modal-form .input-container {
  background-color: red;
  width: 80%;
}

.modal-form #add-image {
  width: 100%;
  opacity: 0;
}

.label span {
  font-size: 1.6rem;
}

.modal-form #send {
  width: 20%;
}
.modal-form #add-image-form{
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  height: 400px;
  display: block;
  padding: 1.6rem;
}



@media screen and (max-width: 374px) {
  .rect {
    display: none;
  }

  .footer .button-container {
    bottom: -10px;
  }
}

@media screen and (min-width: 768px) {
  #root {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 980px) {
  #root {
    width: 50%;
    margin: 0 auto;
  }

  .rect {
    width: 45%;
  }
}
